
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container{
  padding-top: 20px;
  width: 100%
}


/* search bar style*/
.search-box{
  background-color: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-input  {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
 }

.search-btn{
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s; 
  cursor: pointer;
  z-index: 1;
}

.search-btn-2{
  display: none;
  position: relative;
  left: 22px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  transition: 0.2s;
 }

 .search-box:hover > .search-input {
  width: 240px;
  padding: 0 6px;
 }

 .search-box:hover > .search-btn {
  background-color: #27ae60;
  color: black; 
}

.search-box:hover > .search-btn-2 {
  display: inline-block;
  background-color: #e74c3c;
}
.search-btn-2:hover {
  left: 6px;
}


/* status/current style*/

.current-container{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #2f3640;
  border-radius: 40px;
  width: 500px;
  height: 200px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  transition: 0.3s;
}

.current-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

.current-container .date{
  margin-top: 4%;
  font-size: 16px;
}

.current-container .temp{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%
}

.current-container .sun{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%
}


.status-container{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #2f3640;
  border-radius: 40px;
  width: 500px;
  height: 280px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.status-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

.status-text{
  color: #ecf0f1;
  margin-top: 8px; 
  padding: 18px;
  text-align: justify;
}

.status-location{
  color: #ecf0f1;
  margin: 12px 0
}

a{
  text-decoration: none;
  color: #ecf0f1
}

.error-container{
  margin-top: 6%;
}

/* side nav style */ 
.sidenav a {
  position: absolute;
  left: -100px;
  padding: 15px;
  width: 80px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  border-radius: 0 5px 5px 0;
  border-right-style: solid;
  border-right-width: 6px;
  border-right-color: #e67e22;
  transition: 0.4s; 
}

.sidenav a:hover {
  left: 0px;
}

.github-tab {
  top: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.about-tab {
  top: 80px;
  background-color: rgba(0, 0, 0, 0.4);
}


/* loading pulse style*/
.pulse-container{
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse{
  width: 25px;
  height: 25px;
  background-color: #3498db;
  margin: 4px;
  border-radius: 50%;
  animation: groovy-nights 3s 1s linear infinite
}

@keyframes groovy-nights{
  0%{
    box-shadow: 0 0 0 0 rgba(52, 152, 219,.7);
  }
  40%{
    box-shadow: 0 0 0 25px rgba(52, 152, 219,0);
  }
  80%{
    box-shadow: 0 0 0 25px rgba(52, 152, 219,0);
  }
  100%{
    box-shadow: 0 0 0 0 rgba(52, 152, 219,0);
  }
}

/* loading cicle style */ 

.loading-container{
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  width: 15px;
  height: 15px;
  background-color: white;
  margin: 4px;
  border-radius: 50%;
}

.circle-1{
  background-color: #f1c40f;
  animation: jump 0.6s 0.1s linear infinite
}

.circle-2{
  background-color: #e67e22;
  animation: jump 0.6s 0.2s linear infinite
}

.circle-3{
  background-color: #e74c3c;
  animation: jump 0.6s 0.3s linear infinite
}

@keyframes jump{
  50%{
    transform: translate(0,15px)
  }
}

@media only screen and (max-width: 600px) {
  .search-box:hover > .search-input {
    width: 180px;
  }

  .status-container{
    width: 300px;
    font-size: 14px;
  }

  .current-container{
    width: 300px;
    font-size: 14px;
  }

  .sidenav{
    display: none
  }
}